.topSearchCard {
    font-size: 14px;
    padding: 5px 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-light);
    color: var(--accent-primary);
    height: 15px;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--border-primary);
    transition: all 0.2s ease;
}

.topSearchCard:hover {
    background-color: var(--accent-tertiary);
    color: white;
}

.topSearchCard > small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
}

.topSearchCard > small > button {
    border-radius: 15px;
    height: 15px;
    width: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    transition: all 0.2s ease;
}

.topSearchCard > small > button:hover {
    background-color: var(--error);
    border-color: var(--error);
}

.topSearchCard > small > button > img {
    height: 15px;
    width: 15px;
    object-fit: cover;
    border-radius: 15px;
    margin: 0;
    filter: invert(1);
}