.passwordRecoveryContainer > .inputContainer {
    position: relative;
    margin-bottom: 20px;
}

.passwordsCont {
    margin-top: 20px;
}


.gbtn_0 {
    background-color: var(--getRecoveryCodeBtn-bg);
    margin-left: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    font-weight: 600;
}

.changePSBtn {
    margin-left: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    font-weight: 600;
}